Repository Studyvelopers/OverTheFlow, pull requests merged in 2019-08, with the labels that each got.

#67 Issue#66 PaegInfo 멤버 변수 타입 변환
  src/main/java/com/studyveloper/overtheflow/util/PageInfo.java
Labels: util

#70 Issue#66-2 PageInfo, SearchInfo 멤버 변수 변경
  src/main/java/com/studyveloper/overtheflow/util/PageInfo.java
  src/main/java/com/studyveloper/overtheflow/util/SearchInfo.java
Labels: util

#69 Issue#65 PlaylistService, PlaylistLikeService 수정
  src/main/java/com/studyveloper/overtheflow/mapper/MemberLikesPlaylistMapper.java
  src/main/java/com/studyveloper/overtheflow/service/PlaylistLikeService.java
  src/main/java/com/studyveloper/overtheflow/service/PlaylistLikeServiceImpl.java
  src/main/java/com/studyveloper/overtheflow/service/PlaylistService.java
  src/main/java/com/studyveloper/overtheflow/service/PlaylistServiceImpl.java
Labels: service, update

#72 Issue#63MemberService 수정
  src/main/java/com/studyveloper/overtheflow/controller/MemberController.java
  src/main/java/com/studyveloper/overtheflow/service/MemberService.java
  src/main/java/com/studyveloper/overtheflow/service/MemberServiceImpl.java
Labels: service

#76 Issue#71 PlaylistService와 PlaylistLikeService 구현 수정
  src/main/java/com/studyveloper/overtheflow/service/PlaylistLikeService.java
  src/main/java/com/studyveloper/overtheflow/service/PlaylistLikeServiceImpl.java
  src/main/java/com/studyveloper/overtheflow/service/PlaylistService.java
  src/main/java/com/studyveloper/overtheflow/service/PlaylistServiceImpl.java
  src/main/java/com/studyveloper/overtheflow/util/option/CategoryUnit.java
  src/main/java/com/studyveloper/overtheflow/util/option/PlaylistUnit.java
Labels: service, update

#75 Issue#61 MusicService/MusicLikeService 인터페이스, 구현부 추가
  src/main/java/com/studyveloper/overtheflow/mapper/MemberLikesMusicMapper.java
  src/main/java/com/studyveloper/overtheflow/service/MusicLikeService.java
  src/main/java/com/studyveloper/overtheflow/service/MusicLikeServiceImpl.java
  src/main/java/com/studyveloper/overtheflow/service/MusicService.java
  src/main/java/com/studyveloper/overtheflow/service/MusicServiceImpl.java
  src/main/java/com/studyveloper/overtheflow/service/MusicTagService.java
  src/main/java/com/studyveloper/overtheflow/service/MusicTagServiceImpl.java
  src/main/java/com/studyveloper/overtheflow/util/option/MusicUnit.java
  src/main/resources/mappers/music-mapper.xml
  src/main/resources/mappers/music-tag-mapper.xml
  src/main/resources/mappers/playlist-tag-mapper.xml
  src/main/webapp/WEB-INF/spring/appServlet/servlet-context.xml
Labels: service

#80 Issue#79 PlaylistController 추가
  src/main/java/com/studyveloper/overtheflow/controller/PlaylistController.java
Labels: controller, feature

#82 Issue#78 MemberController 추가
  src/main/java/com/studyveloper/overtheflow/controller/MemberController.java
  src/main/java/com/studyveloper/overtheflow/service/FollowService.java
  src/main/java/com/studyveloper/overtheflow/service/FollowServiceImpl.java
  src/main/java/com/studyveloper/overtheflow/service/MemberService.java
  src/main/java/com/studyveloper/overtheflow/service/MemberServiceImpl.java
Labels: controller, feature

#84 issue#83 - MemberServiceImpl, FollowServiceImpl 수정
  src/main/java/com/studyveloper/overtheflow/service/FollowServiceImpl.java
  src/main/java/com/studyveloper/overtheflow/service/MemberServiceImpl.java
Labels: fix, service
