Repository Studyvelopers/OverTheFlow, pull requests merged in 2019-07, with the labels that each got.

#23 누락된 Category Mapper 관련 파일들 추가
  src/main/java/com/studyveloper/overtheflow/mapper/CategoryMapper.java
  src/main/java/com/studyveloper/overtheflow/vo/CategoryVO.java
  src/main/resources/mappers/CategoryMapper.xml
Labels: update

#25 회원정보를 가지고있는 MemberVO추가
  src/main/java/com/studyveloper/overtheflow/vo/MemberVO.java
Labels: entity

#27 회원정보를 DB에서 관리하기 위한 SQL memberMapper.xml과 MemberMppaer.java 추가
  src/main/java/com/studyveloper/overtheflow/mapper/MemberMapper.java
  src/main/resources/mappers/memberMapper.xml
Labels: entity

#30 식별키를 생성하는 유틸 클래스
  src/main/java/com/studyveloper/overtheflow/util/IdentifierGenerator.java
Labels: feature, util

#34 [수정] 매퍼 통합 후 일부 코드의 오류 해결
  src/main/resources/mybatis-config.xml
  src/main/webapp/WEB-INF/spring/root-context.xml
Labels: dao, fix

#36 [추가] PlaylistTagMapper 플레이리스트 식별키로 태그 정보 조회 기능 추가
  src/main/java/com/studyveloper/overtheflow/mapper/PlaylistTagMapper.java
  src/main/resources/mappers/playlistTagMapper.xml
Labels: dao, feature

#38 Issue#28 PlaylistService
  src/main/java/com/studyveloper/overtheflow/bean/PlaylistBean.java
  src/main/java/com/studyveloper/overtheflow/service/PlaylistService.java
  src/main/java/com/studyveloper/overtheflow/service/PlaylistServiceImpl.java
Labels: feature, service

#40 Issue#39
  src/main/java/com/studyveloper/overtheflow/service/PlaylistLikeService.java
  src/main/java/com/studyveloper/overtheflow/service/PlaylistLikeServiceImpl.java
Labels: feature, service

#41 Issue#37 MusicTagService
  src/main/java/com/studyveloper/overtheflow/service/MusicTagService.java
  src/main/java/com/studyveloper/overtheflow/service/MusicTagServiceImpl.java
  src/main/java/com/studyveloper/overtheflow/util/SearchUnit.java
  src/main/webapp/WEB-INF/spring/root-context.xml
Labels: feature, service

#44 Issue#43 MusicService 추가
  src/main/java/com/studyveloper/overtheflow/bean/MusicBean.java
  src/main/java/com/studyveloper/overtheflow/service/MusicService.java
  src/main/java/com/studyveloper/overtheflow/service/MusicServiceImpl.java
  src/main/webapp/WEB-INF/spring/root-context.xml
Labels: feature, service

#47 [수정] 개발환경설정 변경
  .classpath
Labels: update

#49 Issue#46 MusicLike서비스 추가
  src/main/java/com/studyveloper/overtheflow/service/MusicLikeService.java
  src/main/java/com/studyveloper/overtheflow/service/MusicLikeServiceImpl.java
  src/main/webapp/WEB-INF/spring/root-context.xml
Labels: feature, service

#50 [추가] MemberService 추가
  src/main/java/com/studyveloper/overtheflow/bean/MemberBean.java
  src/main/java/com/studyveloper/overtheflow/service/MemberService.java
  src/main/java/com/studyveloper/overtheflow/service/MemberServiceImpl.java
Labels: feature, service

#52 issue#51
  src/main/java/com/studyveloper/overtheflow/service/MemberServiceImpl.java
Labels: fix, service, update

#54 Issue#53 FollowVO외 5개의 VO의 멤버변수 수정및 추가 작업.
  src/main/java/com/studyveloper/overtheflow/vo/FollowVO.java
  src/main/java/com/studyveloper/overtheflow/vo/LikeVO.java
  src/main/java/com/studyveloper/overtheflow/vo/MemberLikesPlaylistVO.java
  src/main/java/com/studyveloper/overtheflow/vo/MemberVO.java
  src/main/java/com/studyveloper/overtheflow/vo/MusicVO.java
  src/main/java/com/studyveloper/overtheflow/vo/PlaylistTagVO.java
  src/main/java/com/studyveloper/overtheflow/vo/PlaylistVO.java
  src/main/java/com/studyveloper/overtheflow/vo/TagVO.java
Labels: update

#59 MusicVO의 변수명을 바꿨습니다.
  src/main/java/com/studyveloper/overtheflow/vo/MusicVO.java
Labels: update

#62 Issue#57 PageInfo, SearchInfo 클래스 추가
  src/main/java/com/studyveloper/overtheflow/util/PageInfo.java
  src/main/java/com/studyveloper/overtheflow/util/SearchInfo.java
  src/main/java/com/studyveloper/overtheflow/util/SearchUnit.java
Labels: feature, util
